[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
selenium = "*"
pillow = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
openai = "*"
gcsa = "*"

[dev-packages]

[requires]
python_version = "3.12"
